// *************************************
//
//   container
//   -> Width controller
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.-l-container {

    // -------------------------------------
    //   Variables
    // -------------------------------------

    $container-width: 780px;

    
    max-width: $container-width;
    margin: 0 20px;
    
    @include breakpoint('teen-bear'){
        margin: 0 auto;
    }
    

}