// *************************************
//
//   Panel overlay
//   -> Slides in over contents
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.panel {


    // -------------------------------------
    //   Variables
    // -------------------------------------
    
    position: fixed;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 150, 136, 0.95);
    transition: all 0.3s ease;

    // -------------------------------------
    //   Elements
    // -------------------------------------


    // ----- Inner container----- // 

    &__inner {
        position: relative;
        height: 100%;
        color: white;
    }

    // ----- Title----- // 

    &__title {
        font-size: 2rem;
        padding-top: 20px;
        
        @include breakpoint('child-bear'){
            font-size: 3rem;
            padding-top: 30px;
        }
    }

    // ----- meta----- // 

    &__meta {
       margin: 10px 0;
    }

    // ----- description----- // 

    &__description {
        font-weight: 100;
    }

    // ----- Play button ----- // 

    &__play {
        position: absolute;
        bottom: 20px;
        right: 10px;
        height: 100px;
        width: 100px;
        border: 0;
        padding: 0;
        background-color: #00BCD4;
        border-radius: 50%;
        transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1) .1s;
        
        @include breakpoint('child-bear'){
            top: -50px;
            right: 100px;
        }
        
        // Icon
        > svg {
            height: 100px;
            width: 40px;
            margin-left: 10px;
            fill: white;
        }
    }

    &__close {
        position: absolute;
        bottom: 20px;
        right: 120px;
        height: 70px;
        width: 70px;
        border: 0;
        padding: 0;
        background-color: #009688;
        border-radius: 50%;
        transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1) .1s;
        
        @include breakpoint('child-bear'){
            right: 20px;
            top: -35px;
        }
        
        // Icon
        > svg {
            height: 70px;
            width: 30px;
            fill: white;
        }
    }
    
    // ----- Shared button styles ----- // 
    
    &__play,
    &__close {
        box-shadow: 0 1px 2px rgba(0,0,0,0.15);
        transform: scale(.3);
        
        [data-panel-state="visible"] & { transform: scale(1); }
        
        // Super performant css box shadow
        // -> http://tobiasahlin.com/blog/how-to-animate-box-shadow/
        &:after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: 0 5px 20px rgba(0,0,0,0.3);
            border-radius: 50%;
            opacity: 0;
            z-index: -1;
            transition: opacity 0.3s ease;
        }
        
        &:hover,
        &:focus {
            transform: translateY(-5px);
        
            &:after {
                opacity: 1;
            }
            
            outline: 0;
        }

    }



    // -------------------------------------
    //   Variations
    // -------------------------------------


    // ----- Variation description ----- // 

    &[data-panel-state="visible"] {
        opacity: 1;
        top: 60px;
        z-index: 30;
        
        @include breakpoint('child-bear'){
            top: 40%;
        }
    }
    

}